ul {
  padding-left: 0;
}

/* remove traditional bullet from front of list items */


li {
  list-style-type: none;
  background-color: rgb(156, 148, 148);
  border: 1px solid #c3c3c3;
  padding: 10px 0px 10px 5px;
  font-size: 20px;
}


.done {
  background-color: #008000;
}

.remove {
  background-color: #ff0000;
}


li.finished {
  color: #ffffff;
  background-color: #808080;
  text-decoration: line-through;
}

input[type="text"] {
  font-size: 18px;
  width: 94%;
  padding: 10px;
}

input[type="button"] {
  font-size: 1.2em;
  margin: -6px 4px 0px 0px;
}

#addButton {
  padding: 10px;
}


.aboutcolor {
  background-color: #ffff00;
}


#divabout {
  width: 300px;
  font-size: 20px;
  margin: 10px;
}

.important {
  background-color: #add8e6;
}

